

body{
    background-color: 	#f0ece1;
    font-family: 'Inconsolata';
    font-weight: bold;
}
.navBTN{
    color: 	#d63333;
    font-family: 'Inconsolata';
    font-size: 20px;
    font-weight: bolder;
}

.title{
    color: 	#9c1b1b !important;
    font-size: 28px !important;
    font-weight: bolder !important;
    text-align: center;
}

#logo{
    border-radius: 28%;
    height: 100 !important;
    width: 100 !important;
}

.disBtn{
    background-color: 	#9c1b1b !important;
    color: #f0ece1 !important;
}

#Info{
    color: #f0ece1 !important;
    margin-top: 100px;
    text-align: center;
    background-color: #d63333;
}

.title_2{
    color: 	#3b444b !important;
    font-weight: 900 !important;
    font-size: 29px;
}

.normBTN{
    margin-bottom: 20px;
    background-color: #080808 !important;
}

.sub_title{
    font-size: 55px;
}

.heading{
    background-color: 	#f6bc00;
}

.subs_heading{
    font-size: 45px !important;
    font-weight: 500 !important;
    color: #080808;
}

.subs_info{
    font-size: 20px;
    color: #3b444b;
}

.sub_box{
    background-color: 	#0096FF;
    margin: auto;
    margin-bottom: 10px;
    height: 235px;
}

.all_sub_box{
    text-align: center;
}
.sub_name{
    color: #f0ece1 !important;
    font-size: 45px !important;
    font-weight: 800 !important;
}

.logo_sub  {
    border-radius: 100% !important;
    clip-path: circle();
}

#about_1{
    background-color: #0096FF;
    color: white !important;
    margin-top: 100px;
}
@media only screen and (max-device-width: 480px) {
    .sub_box{
        width: 100%;
        height: 260px;
        line-height: 4px;
    }
    #header{
        text-align: center;
        display: flex;
        align-self: center;
    }
}
.sub_box_var{
    background-color: 	#0096FF;
    margin: auto;
    margin-bottom: 10px;
    height: 235px;
}
